{% extends 'diary/base.html' %}
{% load static %}
{% block title %}Регистрация нового пользователя{% endblock %}

{% block content %}
<section class="my-registration-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'diary:list_posts' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Форма регистрации</li>
                    </ol>
                </nav>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <p class="row justify-content-center">Проверьте адрес электронной почты</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}