{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <script src="{% static 'js/color-modes.js'%}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
</head>
<body>
<section class="my-registration-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Форма регистрации</li>
                    </ol>
                </nav>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <p class="lead">Для регистрации укажите e-mail пользователя и пароль</p>
                        <form>
                            <div class="mb-3">
                                <label for="inputUsername" class="form-label visually-hidden">e-mail
                                    пользователя</label>
                                <input type="username" class="form-control" id="inputUsername"
                                       aria-describedby="userName" placeholder="Имя пользователя">
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label visually-hidden">Пароль</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                            </div>
                            <div class="mb-3">
                                <label for="ReInputPassword" class="form-label visually-hidden">Повторите пароль</label>
                                <input type="password" class="form-control" id="ReInputPassword"
                                       placeholder="Повторите пароль">
                            </div>
                            <button type="submit" class="btn btn-primary">Регистрация</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>