{% extends 'diary/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<section class="my-registration-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'diary:list_posts' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Восстановление пароля</li>
                    </ol>
                </nav>

                <div class="col-12">
                    <form class="row" method="post" enctype="multipart/form-data">
                        <div class="clo-3"></div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Восстановление пароля
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-primary">Сбросить по e-mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}